h1 {
  text-align: center;
  font-size: 90px;
}
p {
  text-align: center;
  font-size: 25px;
}
button {
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
}
button:hover {
  background-color: white;
}
