div#navbarSupportedContent {
  margin-left: 500px;
}
li.nav-item {
  padding: 25px;
}
a.nav-link:hover {
  color: #d63384;
}
a.navbar-brand {
  margin-left: 100px;
}

.logo {
  max-height: 80px;
}

.hero {
  padding: 160px 20px;
  text-align: center;
  background-color: #f9f7fe;
}
.project-description {
  padding: 0;
  text-align: center;
}

a.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin: 0 0 30px 0;
}

a.email-link:hover {
  color: #d63384;
}

a.social-links {
  margin: 0 20px;
  color: #d63384;
  font-size: 18px;
  background-color: #f9f7fe;
  padding: 10px 14px;
  border-radius: 50%;
}

.about-section {
  margin-top: 50px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
p {
  font-size: 20px;
  margin-top: 30px;
  color: #6c757d;
}

.img-fluid {
  border-radius: 10px;
  margin: 25px;
}

a {
  color: #6c63ff;
  text-decoration: none;

  font-size: 18px;
  line-height: 27px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  margin-left: 200px;
}

.contact-details {
  text-align: center;
  padding: 0;
  margin: 30px;
}
