.hero {
  padding: 160px 20px;
  text-align: center;
  background-color: #f9f7fe;
}
.about-section {
  margin-top: 50px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
p {
  font-size: 20px;
  margin-top: 30px;
}
button {
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
}
button:hover {
  background-color: white;
}
.img-fluid {
  border-radius: 10px;
  margin: 30px;
}

a {
  color: #6c63ff;
  text-decoration: none;

  font-size: 18px;
  line-height: 27px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  margin-left: 200px;
}

.contact-details {
  text-align: center;
  padding: 0;
  margin: 30px;
}
